<p>
  {% if repairLocation is defined %}
    <a class="btn btn-primary btn-large" href="{{ path( returnPath, { 'location' : repairLocation } ) }}">Back to main menu</a>
  {% else %}
    {% if pn is defined %}
      <a class="btn btn-primary btn-large" href="{{ path( returnPath, { 'pn' : pn } ) }}">Back to main menu</a>
    {% else %}
      <a class="btn btn-primary btn-large" href="{{ path( returnPath ) }}">Back to main menu</a>
    {% endif %}
  {% endif %}
</p>
